<section class="wow fadeIn bg-gradient" style="visibility: visible; animation-name: fadeIn;">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12 col-xs-12 stat-title" style="margin-bottom: 100px">
        <div class="stat-title-word">
          <span class="title">{{ 'stats-title' | translate }}</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12 stat-detail wow fadeInDown" style="visibility: visible; animation-name: fadeInDown">
        <h5 class="text-white no-margin">6</h5>
        <span class="desc-detail">{{ 'transparent-platforms' | translate }}</span>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 stat-detail wow fadeInDown" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown">
        <h5 class="text-white no-margin">2.47 Million</h5>
        <span class="desc-detail">{{ 'cumulative-transactions' | translate }}</span>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 stat-detail wow fadeInDown" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInDown">
        <h5 class="text-white no-margin">$18.7 Billion</h5>
        <span class="desc-detail">{{ 'trade-volumn' | translate }}</span>
      </div>
    </div>
  </div>
</section>
