.partner-cus{
  border-color: #EDEDED;
  border-top: 1px solid;
  background-color: #F5F5F5;
  padding: 130px 0;
  overflow: hidden;
  display: block;
}

.swiper-container {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding-left: 35px;
  padding-right: 35px;
}

/*.logo-style{*/
/*padding-left: 35px;*/
/*padding-right: 35px;*/
/*}*/

.company-icon{
  width: 100%;
  cursor: pointer;
  flex-shrink: 0;
  height: 100%;
  position: relative;
  text-align: center;
}


.footer-style{
  background-color: #191919;
  display: block;
}

.footer-inner{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #141414;
}

.left-half{
  font-size: 12px;
  line-height: 20px;
  width: 50%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: left;
  color: #6f6f6f;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.right-half{
  font-size: 12px;
  line-height: 20px;
  width: 50%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: right;
  color: #6f6f6f;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.disclaimer-text{
  color: #626262;
  cursor: pointer;
}

.disclaimer-padding{
  padding-top: 200px;
}


