<section class="partner-cus wow fadeIn" id="partner" style="visibility: visible; animation-name: fadeIn">
  <div class="container text-center">
    <div class="row">
      <swiper class="swiper-container" [config]="config">
        <div class="swiper-slide company-icon"><a href="https://www.corda.net/"><img src="../../../assets/images/cordalogo.png" alt="" class="logo-style"></a></div>
        <div class="swiper-slide company-icon"><a href="https://www.ethereum.org/"><img src="../../../assets/images/etherumlogo.png" alt="" class="logo-style"></a></div>
        <div class="swiper-slide company-icon"><a href="https://www.paxos.com/"><img src="../../../assets/images/paxoslogo.png" alt="" class="logo-style"></a></div>
        <div class="swiper-slide company-icon"><a href="https://www.r3.com/"><img src="../../../assets/images/r3-logo.png" alt="" class="logo-style"></a></div>
      </swiper>
    </div>
  </div>
</section>
