<section class="welcome-style" id="home">
  <div class="welcome-wrapper text-center">
    <div class="welcome-box">
      <div class="word-wrapper">
        <div class="container">
          <div class="row">
            <div class="word-box">
              <span class="word-box-inner">
                <span class="text-uppercase">
                  <span class="text-primary">C</span>lear
                  <span class="text-primary">M</span>arkets
                </span>
              </span>
            </div>
            <p class="text-white slogan-details">{{'slogan-welcome' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
