<section class="wow fadeIn about-title">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12" style="height: 26px; display: table;">
        <h1 class="text-uppercase title-font">{{ 'about-cm' | translate}}</h1>
      </div>
    </div>
  </div>
</section>
<section class="wow fadeIn no-padding-1 custom-about-detail">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 text-box">
        <div class="col-md-12 col-sm-12 col-xs-12 text-box-detail">
          <span class="first-letter">{{ 'about-cm-p-initial' | translate }}</span>
          {{ 'about-cm-p' | translate }}
          <blockquote class="border-color-secondary">
            <ul class="dottedList">
              <li class="intro-list">{{ 'cm-situation-1' | translate }}</li>
              <li class="intro-list">{{ 'cm-situation-2' | translate }}</li>
              <li class="intro-list">{{ 'cm-situation-3' | translate }}</li>
              <li class="intro-list">{{ 'cm-situation-4' | translate }}</li>
            </ul>
          </blockquote>
          {{ 'about-cm-p2' | translate }}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="wow fadeIn about-title">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12" style="height: 26px; display: table;">
        <h1 class="text-uppercase title-font">{{ 'blockchain-intro-title' | translate}}</h1>
      </div>
    </div>
  </div>
</section>
<section class="zero-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 text-box text-list">
        <blockquote class="border-color-secondary">
          <ul class="dottedList list-text">
            <li class="intro-list">
              {{ 'blockchain-1' | translate }}
              <ul>
                <li class="inner-list">{{ 'blockchain-1-1' | translate }}</li>
                <li class="inner-list">{{ 'blockchain-1-2' | translate }}</li>
                <li class="inner-list">{{ 'blockchain-1-3' | translate }}</li>
                <li class="inner-list">{{ 'blockchain-1-4' | translate }}</li>
              </ul>
            </li>
            <li class="intro-list">
              {{ 'blockchain-2' | translate }}
              <ul>
                <li class="inner-list">{{ 'blockchain-2-1' | translate }}</li>
                <li class="inner-list">{{ 'blockchain-2-2' | translate }}</li>
              </ul>
            </li>
            <li class="intro-list">
              {{ 'blockchain-3' | translate }}
              <ul>
                <li class="inner-list">{{ 'blockchain-3-1' | translate }}</li>
                <li class="inner-list">{{ 'blockchain-3-2' | translate }}</li>
                <li class="inner-list">{{ 'blockchain-3-3' | translate }}</li>
                <li class="inner-list">{{ 'blockchain-3-4' | translate }}</li>
              </ul>
            </li>
          </ul>
        </blockquote>
        <img src="../../../assets/images/blockchain.jpg">
        <br/>
        {{ 'blockchain-paragraph' | translate }}
      </div>
    </div>
  </div>
</section>
