<section class="graphSection" id="maps">
  <div class="shell">
    <h2>{{ 'feature-title' | translate }}</h2>
    <p style="max-width: 900px; margin-left: auto; margin-right: auto">
      {{ 'feature-detail' | translate }}
    </p>
    <br/>
    <div class="cell-xs-12 cell-xm-12 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
      <div class="mid-80 border-gray" style="height: 24px">
        <div class="row">
          <div class="col-md-3 text-center no-padding">{{ 'risk-detail-1' | translate }}<div class="icon-green"></div></div>
          <div class="col-md-3 text-center no-padding">{{ 'risk-detail-2' | translate }}<div class="icon-blue"></div></div>
          <div class="col-md-3 text-center no-padding">{{ 'risk-detail-3' | translate }}<div class="icon-yellow"></div></div>
          <div class="col-md-3 text-center no-padding">{{ 'risk-detail-4' | translate }}<div class="icon-red"></div></div>
        </div>
      </div>
      <div id="mynetwork" #siteConfigNetwork></div>
    </div>
  </div>
</section>
