<section class="wow fadeIn" id="about" style="visibility: visible; animation-name: fadeIn;">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-xs-12 sm-no-padding-lr" style="height: 509px;">
        <div class="inner-padding">
          <div class="little-block text-center wow fadeInUp">
            <img src="../../assets/images/network-blue.png" class="reporting-icon">
            <div class="detail-title">{{ 'trade-reporting' | translate }}</div>
            <ul class="dottedList">
              <li>{{ 'trade-reporting-detail-1' | translate }}</li>
              <li>{{ 'trade-reporting-detail-2' | translate }}</li>
              <li>{{ 'trade-reporting-detail-3' | translate }}</li>
              <li>{{ 'trade-reporting-detail-4' | translate }}</li>
            </ul>
          </div>
          <div class="little-block text-center wow fadeInUp">
            <img src="../../assets/images/hezuo-blue.png" class="reporting-icon">
            <div class="detail-title">{{ 'platform-validation' | translate }}</div>
            <ul class="dottedList">
              <li>{{ 'platform-validation-detail-1' | translate }}</li>
              <li>{{ 'platform-validation-detail-2' | translate }}</li>
              <li>{{ 'platform-validation-detail-3' | translate }}</li>
              <li>{{ 'platform-validation-detail-4' | translate }}</li>
            </ul>
          </div>
          <div class="little-block text-center wow fadeInUp">
            <img src="../../assets/images/jiaoyi-blue.png" class="reporting-icon">
            <div class="detail-title">{{ 'customer-validation' | translate }}</div>
            <ul class="dottedList">
              <li>{{ 'customer-validation-detail-1' | translate }}</li>
              <li>{{ 'customer-validation-detail-2' | translate }}</li>
              <li>{{ 'customer-validation-detail-3' | translate }}</li>
              <li>{{ 'customer-validation-detail-4' | translate }}</li>
            </ul>
          </div>
          <div class="little-block text-center wow fadeInUp">
            <img src="../../assets/images/Kxiantu-blue.png" class="reporting-icon">
            <div class="detail-title">{{ 'liquidity-enhancement' | translate }}</div>
            <ul class="dottedList">
              <li>{{ 'liquidity-enhancement-detail-1' | translate }}</li>
              <li>{{ 'liquidity-enhancement-detail-2' | translate }}</li>
              <li>{{ 'liquidity-enhancement-detail-3' | translate }}</li>
              <li>{{ 'liquidity-enhancement-detail-4' | translate }}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-sm-11 col-xs-12 sm-center-col inset-five-right wow fadeIn xs-text-center" style="height: 509px;">
        <h5 class="description-title">{{ 'intro-title' | translate }}</h5>
        <p class="description-detail">{{ 'intro-detail' | translate }}</p>
        <br/>
        <button class="btn btn-dark-gray btn-small" routerLink="about">{{ 'read-more' | translate }}</button>
      </div>
    </div>
  </div>
</section>
